@charset "utf-8";

/* reset */
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; }
textarea { resize:none; overflow:auto; }
body { font-size:12px; font-family:"微软雅黑"; }
/* end reset */

/* public */
.clear{zoom: 1;}
.clear:after{content: '';display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}

.gradient{
    background: -webkit-linear-gradient(top, #fff, #f8f8f8);
    background: -moz-linear-gradient(top, #fff, #f8f8f8);
    background: -ms-linear-gradient(top, #fff, #f8f8f8);
    background: linear-gradient(top, #fff, #f8f8f8);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff,endColorstr=#f8f8f8)";
    +background:#f9f9f9;
}

/* 渐变
{
    background: -webkit-linear-gradient(top, #fff, #f8f8f8);
    background: -moz-linear-gradient(top, #fff, #f8f8f8);
    background: -ms-linear-gradient(top, #fff, #f8f8f8);
    background: linear-gradient(top, #fff, #f8f8f8);
    // 兼容IE9,8
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fff,endColorstr=#f8f8f8)";
    +background:#f9f9f9;
}
*/

/* layout */    
#header{width: 960px; height: 30px; margin: 0 auto;border-radius: 6px;}
#nav{height: 100px; width: 960px;margin: 0 auto;}
#search{width: 958px;height: 114px;margin:0 auto 10px; border: 1px solid #dbdbdb;border-radius:6px;}
.content{width: 960px;margin: 0 auto;}
.content .main{width: 710px;}
.content .main .main_ad{border-radius: 6px; overflow: hidden;margin-bottom: 10px;}
.section{border-radius: 6px;border:1px solid #dbdbdb; width: 318px;padding: 0 15px;margin-bottom: 10px;}
.options{width: 350px;height: 200px;}
.content .side{width: 240px;}
.side_section{border-radius: 6px;}
.side_ad{border-radius: 6px;overflow: hidden;}

#footer{}